
.container {
    padding: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 0 20px;   */
    gap: 1rem;

    
}


input {
    height: 2rem;
    width: 10rem;
    border-radius: 0.5rem;
    border: solid 0.1rem #000000;
}

button {
    background-color: #53c853;
    color: #FFFFFF;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    border: solid 0.1rem #FAFAFA;
}