.header {
    background-color: rgb(43, 130, 138);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .button {
    background-color: red;
    color: white;
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
    width: auto;
    height: auto;
    border-radius: 0.5rem;
    border: 0.1rem solid white
}

.link {
    display: flex;
    gap: 2rem;
    margin: 2rem;
}

p {
    color: #FFFFFF;
    padding: 0.2rem;
}